#heading {
  height: 50px;
  width: 100%;

  margin: 1px auto;
}
ul li {
  display: inline-block;
}
#main1 {
  height: 100%;
  width: 100%;

  margin: 1px auto;
}
#main2 {
  height: 100%;
  width: 100%;

  margin: 5px auto;
}
div {
  height: 150px;
  width: 150px;
}
img {
  width: 100%;
  height: 100%;
  border: 1px solid black;
  position: relative;
}
