header {
  height: 50px;
  margin: 1px auto;
  width: 100%;
  text-shadow: 5px;
  font-size: 25px;
}

nav {
  height: 50px;

  width: 100%;
}
ul li {
  display: inline-block;

  width: 30%;
}
#centerchild1 {
  height: 25px;
  width: 20%;
  border-radius: 6.5px;
  text-align: center;
}

#main {
  border: 1px solid rgb(77, 14, 136);
  height: 400px;
  margin: 1px auto;
  width: 100%;
}
#footer {
  border: 1px solid rgb(77, 14, 136);
  height: 50px;
  margin: 1px auto;
  width: 100%;
}
