#header {
  border: 1px solid rgb(77, 14, 136);
  height: 50px;
  margin: 5px auto;
  width: 50%;
}
#nav {
  border: 1px solid rgb(77, 14, 136);
  height: 50px;
  width: 50%;
  margin: 5px auto;
}
#main {
  border: 1px solid rgb(77, 14, 136);
  height: 400px;
  margin: 5px auto;
  width: 50%;
}
#footer {
  border: 1px solid rgb(77, 14, 136);
  height: 50px;
  width: 50%;
  margin-left: 335px;
}
