.parent-div{
    background-color: rgb(29, 138, 132);
    padding: 10px;
    border: 4px solid rgb(13, 68, 65);
}
.parent-div div:nth-child(1){
    background-color: blueviolet;
    border: 1px solid black;
    margin: 5px;
    
    padding: 7px ;
}
.parent-div div:nth-child(2){
    background-color: rgb(43, 226, 58);
    border: 1px solid black;
    margin: 5px;
    
    padding: 7px ;
}
.parent-div div:nth-child(3){
    background-color: rgb(226, 43, 43);
    border: 1px solid black;
    margin: 5px;
    padding: 7px;
}
.parent-div div:nth-child(4){
    background-color: rgb(226, 198, 43);
    border: 1px solid black;
    padding: 7px ;
    margin: 5px;
}
.myname{
    
    color: red;
}
.myname{
    color: green;
}